# works with Python 3.7.0
absl-py==0.9.0
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astunparse==1.6.3
attrs==19.3.0
autograd==1.3
autograd-gamma==0.4.2
autopep8==1.5.3
avro-python3===file-.avro-VERSION.txt
azure-common==1.1.25
azure-core==1.6.0
azure-storage-blob==12.3.1
backcall==0.1.0
bleach==3.1.4
bokeh==2.1.1
boto3==1.10.50
botocore==1.13.50
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
click==7.1.2
contextlib2==0.6.0.post1
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
dnspython==1.16.0
docutils==0.15.2
entrypoints==0.3
flake8==3.8.3
future==0.18.2
gast==0.3.3
google-auth==1.17.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==2.9
ijson==2.6.1
importlib-metadata==1.6.0
ipdb==0.13.2
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
isodate==0.6.0
isort==4.3.21
jedi==0.16.0
Jinja2==2.10.3
jmespath==0.10.0
joblib==0.14.1
jplephem==2.14
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==2.1.0
jupyterlab-server==1.1.1
kaggle==1.5.6
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lifelines==0.24.6
lightgbm==2.3.2
llvmlite==0.31.0
lunardate==0.2.0
manohelpers==0.0.23
Markdown==3.2.2
MarkupSafe==1.1.1
marshmallow==2.19.5
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
mizani==0.6.0
msrest==0.6.16
mysql-connector-python==8.0.19
nbconvert==5.6.1
nbformat==5.0.5
ngboost==0.2.1.dev0
nltk==3.5
notebook==6.0.3
numba==0.48.0
numpy==1.18.2
oauthlib==3.1.0
opt-einsum==3.2.1
oscrypto==1.2.0
packaging==20.4
palettable==3.3.0
pandas==1.0.5
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
plotnine==0.6.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.12.2
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyCalverter==1.6.1
pycodestyle==2.6.0
pycparser==2.20
pycryptodomex==3.9.7
pyflakes==2.2.0
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pyluach==1.0.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.0
regex==2020.6.8
requests==2.23.0
requests-oauthlib==1.3.0
rope==0.16.0
rsa==4.6
s3transfer==0.2.1
schema==0.7.2
scikit-learn==0.22.2.post1
scipy==1.4.1
secretmanager==1.0.7
selenium==3.141.0
Send2Trash==1.5.0
sgp4==2.7
six==1.14.0
sklearn==0.0
skyfield==1.20
skyfield-data==0.1.0
snowflake-connector-python==2.2.7
statsmodels==0.11.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thrift==0.13.0
toml==0.10.1
toolz==0.9.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
Unidecode==1.1.1
urllib3==1.24.3
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
workalendar==9.0.0
wrapt==1.11.2
zipp==3.1.0
